*.pyc
*~
*.iml
.git
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.idea
.sass-cache
config.codekit
.codekit-cache/

staticfiles/
debug.log
uwsgi.log
nohup.out
*.rdb
db.sqlite3
*.zip
deploy.sh
local_config.json

